# Временно закомментируйте все директивы
RewriteEngine On
RewriteRule ^(.*)$ public/index.php [L,QSA]

# Increase upload limit
php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value memory_limit 256M
php_value max_input_time 300
php_value max_execution_time 300

AddDefaultCharset UTF-8
php_value default_charset UTF-8
